<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amittpad.materialdesing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.amittpad.materialdesing.activities.LaunchScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.amittpad.materialdesing.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.FabHideActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_fab_animations"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.ToolbarOverlayActivity"
            android:label="@string/title_activity_toolbar_test"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/MyTheme.Detail"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.AnimateToolbar"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyTheme.Detail"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.TabAnimationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tab_animation"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.NestedToolbarActivity"
            android:label="@string/title_activity_nested_toolbar"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.QuickReturnActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_quick_return"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.RevealAnimation"
            android:label="@string/title_activity_reveal_animation"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.GmailStyleActivity"
            android:label="@string/title_activity_gmail_style"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.TabsHeaderActivity"
            android:label="@string/title_activity_tabs_header"
            android:theme="@style/MyTheme.Detail"/>
        <activity
            android:name="com.amittpad.materialdesing.activities.PagerActivity"
            android:theme="@style/MyTheme.Detail"/>
        <activity android:name="com.amittpad.materialdesing.activities.BottomBarActivity">
        </activity>
    </application>

</manifest>